<app-nav-root>
    <app-nav-link link="#">Home</app-nav-link>
    <app-nav-link link="#about">About</app-nav-link>
    <app-nav-link link="#aplication">Aplication</app-nav-link>
</app-nav-root>


<app-hero>
    <span title>Stream systémy na míru</span>
    <div content>
        Vyvíjíme streamovací systémy na míru. Jsme tým zkušených vývojářů, kteří se vyznají v moderních technologiích a jsou schopni vytvořit pro vás streamovací systém na míru.
    </div>
</app-hero>


<app-section id="about">
    <span title>O nás</span>

    <div>
        Jsme rodíná firma zaměřující se na vývoj streamovacích systémů jako jsou kino systémy, online televize, streamovací platformy a další.
        
    </div>
</app-section>


<app-section id="form">
    <span title>Chceš u nás pracovat?</span>
    <div>
        <!-- <p>Jsme malý tým lidí </p> -->
        <app-aplication-form>
        </app-aplication-form>
    </div>
</app-section>

