<app-nav-root>
    <app-nav-link link="#">Home</app-nav-link>
    <app-nav-link link="#about">About</app-nav-link>
    <app-nav-link link="#aplication">Aplication</app-nav-link>
</app-nav-root>


<app-hero>
    <span title>Title</span>
    <div content>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias molestias voluptatibus quasi minus fuga, minima dolorem mollitia! Doloribus nulla quas ratione reiciendis sequi voluptatibus, rem veritatis laboriosam sed ab iste.
    </div>
</app-hero>


<app-section id="about">
    <span title>About</span>

    <div>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit eligendi minus fuga dolorum earum, est facere natus, sed quidem optio minima. Fuga illum at, sit placeat ratione esse ducimus eligendi!
    </div>
</app-section>


<app-aplication-form>
</app-aplication-form>